user www-data;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;
worker_processes  {{ worker_processes_num | default (1)}};  ## Default: 1
worker_rlimit_nofile 8192;

events {
  worker_connections  4096;  ## Default: 1024
}

http {
  include    mime.types;
  index    index.html index.htm index.php;

  default_type application/octet-stream;
  log_format   main '$remote_addr - $remote_user [$time_local]  $status '
    '"$request" $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';
  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;
  sendfile     on;
  tcp_nopush   on;
  server_names_hash_bucket_size 128; # this seems to be required for some vhosts

  upstream {{ upstream.name }} {
    {% for item in upstream.hosts %}
    server {{ item.host }}:{{ item.port }};
    {% endfor %}
  }

  server { # simple load balancing
    listen          {{ listen_port | default (80) }};
    server_name     {{ server_fqdn }};
    access_log      /var/log/nginx/{{ server_fqdn }}.access.log main;

    location / {
      proxy_pass      http://{{ upstream.name }};
    }

    location /health {
        access_log off;
        types { } default_type "application/json; charset=utf-8";
#        add_header 'Content-Type' 'application/json';
        return 200 '{"status":"Healthy"}';
    }

  }
  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}
